/* .inline {
    border: 1px solid black;
    margin: 25px;
    display: inline-block;

}

.inline1 {
    display: inline-block;
    visibility: hidden;
} */

.inline2 {
    border: 1px solid black;
    background-color: inherit;
    display: inherit;
}



.block {
    border: 1px solid black;
    margin: 25px;
    background-color: red;
    
}